<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.10" targetFramework="net48" />
  <package id="Microsoft.Win32.Registry" version="4.7.0" targetFramework="net48" />
  <package id="NAudio.Core" version="2.3.0" targetFramework="net48" />
  <package id="NAudio.WinForms" version="2.3.0" targetFramework="net48" />
  <package id="NAudio.WinMM" version="2.3.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net48" />
  <package id="org.k2fsa.sherpa.onnx" version="1.13.3" targetFramework="net48" />
  <package id="org.k2fsa.sherpa.onnx.runtime.win-x64" version="1.13.3" targetFramework="net48" />
  <package id="SharpCompress" version="0.48.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Resources.Extensions" version="8.0.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="4.7.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="8.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net48" />
  <package id="ZstdSharp.Port" version="0.8.0" targetFramework="net48" />
</packages>